[Unit]
Description=Start otodata bluetooth reciever
After=network.target

[Service]
ExecStartPre=/bin/bash -c '/usr/bin/hciconfig hci0 down && /usr/bin/hciconfig hci0 up'
ExecStart=/home/pi/genmon/OtherApps/otodata_reciever.pl

[Install]
WantedBy=multi-user.target
